* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
/* this intro section */
.intro-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  background-color: rgba(229, 84, 115, 0.1);
  background-size: cover;
  padding: 0 100px;
}

.intro-part-img {
  width: 450px;
  padding-top: 20px;
  display: block;
}
.intro-title {
  font-size: 60px;
  font-weight: bold;
}
.intro-des {
  color: #27272799;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  border-radius: 8px;
  background-color: #e55473;
  padding: 20px 43px;
  border: none;
  color: white;
  font-size: 20px;
}
/* features item section */
.features-flower-container{
    height:auto;
}

.feature-title {
  color: #272727;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 10px;
}
.feature-des {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 48px;
}
.flower-image-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: auto;
}
.flower-image-box1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 232px;
  height: auto;
  justify-content: space-around;
  align-items: end;
  padding-left: 40px;
}
.flower {
  width: 150px;
  display: block;
  padding-top: 30px;
}
.flower-image-box2 {
  border-radius: 300px 300px 0px 0px;
  background-color: #0597a026;
  width: 232px;
  height: auto;
  padding-left: 40px;
}

.flower-image-box3 {
  border-radius: 300px 300px 0px 0px;
  background-color: #477d1126;
  width: 232px;
  height: auto;
  justify-content: space-around;
  padding-left: 40px;
}
.flower-name {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 115px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 10px;
  width: auto;
}
/* this hot deal section */
.hot-deal-container {
  background-color: #e554730d;
  background-size: cover;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:auto;
  padding: 30px 50px;
}
.hot-deal-text {
  text-align: center;
}
.hot-deal-title {
  color: #272727;

  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}
.off-part{
    color: #E55473;
}
.hot-deal-des{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin-top: 20px;
margin-bottom: 20px;
}
.rose{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* social site section */
.more-flower-img{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.social-des{
    margin-bottom: 15px;
}
.more-flower{
    width: 210px;
    display: block;
    
}
/* subscribe section */
.subscribe-container{
    background-image: url("./background-img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    height: 300px;
   
    
}
    
.subscribe-info{
    margin-bottom: 15px;

}
.subscribe-title{
    padding-top: 50px;
}
.subcribe-input-field{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;

}
input{
    border: none;
    border-radius: 8px;
    width: 500px;
    padding-left: 22px;
}
/* customer section */
.customer-list-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.customer-img{
    width: 400px;

}
/* footer section */
footer{
    
    background-color: black;
    color: white;
    margin-top: 70px;
    text-align: center;
    height: 300px;
    padding-top: 150px;


}
.footer-des{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFFE5;
}
.footer-copyright{
    color: #FFFFFF66;
}

